node_modules
.next
.env
.env.local
.env.development
.env.production
# dependencies
/.pnp
.pnp.js
yarn.lock
package-lock.json

# testing
/coverage
.nyc_output

# production
/build
/dist
/out

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.test.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
*.swp
*.swo

# cache
.cache
.eslintcache
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/_error.js
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/(public)/page_client-reference-manifest.js
.next/server/app/(public)/page.js
.next/server/app/(theme)/connect/page_client-reference-manifest.js
.next/server/app/(theme)/connect/page.js
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/_not-found/page.js
.next/server/app/favicon.ico/route.js
.next/server/app/icon.png/route.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/vendor-chunks/@floating-ui.js
.next/server/vendor-chunks/@lucia-auth.js
.next/server/vendor-chunks/@radix-ui.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/@t3-oss.js
.next/server/vendor-chunks/@vercel.js
.next/server/vendor-chunks/arctic.js
.next/server/vendor-chunks/aria-hidden.js
.next/server/vendor-chunks/class-variance-authority.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/cookie.js
.next/server/vendor-chunks/cookies-next.js
.next/server/vendor-chunks/dexie.js
.next/server/vendor-chunks/drizzle-orm.js
.next/server/vendor-chunks/get-nonce.js
.next/server/vendor-chunks/lucia.js
.next/server/vendor-chunks/lucide-react.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/oslo.js
.next/server/vendor-chunks/react-remove-scroll-bar.js
.next/server/vendor-chunks/react-style-singleton.js
.next/server/vendor-chunks/sonner.js
.next/server/vendor-chunks/tailwind-merge.js
.next/server/vendor-chunks/tslib.js
.next/server/vendor-chunks/use-callback-ref.js
.next/server/vendor-chunks/use-sidecar.js
.next/server/vendor-chunks/zod.js
.next/static/chunks/_error.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/(public)/layout.js
.next/static/chunks/app/(public)/page.js
.next/static/chunks/app/(theme)/connect/page.js
.next/static/chunks/app/_not-found/page.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/css/app/layout.css
.next/static/css/app/(public)/layout.css
.next/static/css/app/(theme)/connect/page.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/6d93bde91c0c2823-s.woff2
.next/static/media/26a46d62cd723877-s.woff2
.next/static/media/55c55f0601d81cf3-s.woff2
.next/static/media/97e0cb1ae144a2a9-s.woff2
.next/static/media/581909926a08bbc8-s.woff2
.next/static/media/a34f9d1faa5f3315-s.p.woff2
.next/static/media/df0a9ae256c0569c-s.woff2
.next/static/media/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.b967158b.woff2
.next/static/media/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.c0f5ec5b.woff2
.next/static/media/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.2aaf0723.woff2
.next/static/media/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.d1d9458b.woff2
.next/static/media/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.b1db3e28.woff2
.next/static/media/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.ae9ae671.woff2
.next/static/media/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.9c4f3456.woff2
.next/static/webpack/3b4706add0deb062.webpack.hot-update.json
.next/static/webpack/7e1835bc317b533f.webpack.hot-update.json
.next/static/webpack/8c75c5670d881064.webpack.hot-update.json
.next/static/webpack/354c6437ee1ea814.webpack.hot-update.json
.next/static/webpack/608a21a09a18069e.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/a82e2c78be9c40b0.webpack.hot-update.json
.next/static/webpack/ac2269d11d420af3.webpack.hot-update.json
.next/static/webpack/c34d4917a0457bf2.webpack.hot-update.json
.next/static/webpack/webpack.3b4706add0deb062.hot-update.js
.next/static/webpack/webpack.7e1835bc317b533f.hot-update.js
.next/static/webpack/webpack.8c75c5670d881064.hot-update.js
.next/static/webpack/webpack.354c6437ee1ea814.hot-update.js
.next/static/webpack/webpack.608a21a09a18069e.hot-update.js
.next/static/webpack/webpack.a82e2c78be9c40b0.hot-update.js
.next/static/webpack/webpack.ac2269d11d420af3.hot-update.js
.next/static/webpack/webpack.c34d4917a0457bf2.hot-update.js
.next/static/webpack/app/layout.3b4706add0deb062.hot-update.js
.next/static/webpack/app/layout.7e1835bc317b533f.hot-update.js
.next/static/webpack/app/layout.608a21a09a18069e.hot-update.js
.next/static/webpack/app/layout.a82e2c78be9c40b0.hot-update.js
.next/static/webpack/app/layout.ac2269d11d420af3.hot-update.js
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/(public)/layout.ts
.next/types/app/(public)/page.ts
.next/types/app/(theme)/connect/page.ts
